@font-face {
    src: url('assets/fonts/sans/Sans_Regular.ttf');
    font-family: 'Sans';
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background: #1f1f1f;
    width: 100vw;
    height: 100vh;
}

.header {
    width: 100%;
    display: flex;
    height: 6vw;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.logo>img {
    width: 3vw;
    height: 3vw;
    margin: 1vw;
    cursor: pointer;
}

.logo>h1 {
    opacity: 0;
    font-family: 'sans';
    font-size: 2vw;
    color: white;
    font-weight: 100;
    transition: opacity 0.2s linear;
}

.logo>img:hover+h1 {
    opacity: 100;
}

div.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1vw;
}

div.links>a {
    font-family: 'sans';
    font-size: 2vw;
    text-decoration: none;
    color: #999999;
    margin-left: 1vw;
    transition: all 0.4s ease-in-out;
}

div.links>a:hover {
    border-width: 0px;
    border-style: groove;
    border-color: white;
    color: white;
    font-size: 3vw;
    border-bottom-width: 0.1vw;
}

div.breif {
    width: 70vw;
    max-width: 960px;
    margin: auto;
    margin-top: 30vh;
    transition: all 0.2s linear;
}

div.breif>h1 {
    font-family: 'sans';
    font-weight: bold;
    font-size: 5vw;
    color: white;
}

div.breif>p {
    font-family: 'sans';
    font-weight: bold;
    font-size: 2vw;
    font-weight: 100;
    color: #999999;
    cursor: none;
}

div.breif>p>b {
    color: white;
}

@media only screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: row;
    }
    div.header {
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
        width: 30vw;
        height: 100vh;
    }
    div.links {
        flex-direction: column !important;
        justify-content: space-around !important;
        height: 40vh;
        margin-bottom: 30vh !important;
    }
    div.logo>img {
        width: 10vw;
        height: 10vw;
        margin: 2vw;
    }
    div.links>a {
        font-size: 5vw !important;
    }
    div.breif {
        margin-top: 5vh;
    }
    div.breif>h1 {
        font-size: 10vw;
    }
    div.breif>p {
        font-size: 6vw;
    }
    div.logo>h1 {
        font-size: 5vw;
    }
}